@model IEnumerable<AIS_Transport_Agency.Models.SlotBooking>



<form method="post">

    <div class="container">
    @if (Model.Count() > 0)
    {
        <h3>Our Products</h3>
        <hr />
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-lg-4 mt-5">
                    @if (product.ImageURL != null)
                    {

                        <img src="@product.ImageURL" height="200px" width="150px" class="thumbnail" />
                    }
                    else
                    {
                        <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930" height="200px" width="200px" class="thumbnail" />
                    }
                    <div class="box-element product">
                        <h4><strong>@product.SlotName</strong></h4>
                        <b>License Type : @product.LicenseType</b> <br />
                        <b>Available slots : @product.Slots</b> <br />
                        <b>Slot Datetime : @product.Datetime</b>
                        <hr>

                        <button class="btn btn-info text-white" type="submit" asp-controller="Home" asp-action="Apply" asp-route-id="@product.Id">Add to Cart</button>

                        <h4 style="display: inline-block; float: right"><strong class="text-success">$ @product.Price</strong></h4>

                    </div>
                </div>
            }
        </div>

    }
    else
    {
        <h3 class="text-black-50">No Slots or Products Found</h3>
    }
</div>

</form>

